html {overflow: -moz-scrollbars-vertical;}

body {
	background: rgb(255, 208, 186);
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
	color: rgb(0, 0, 0);
    text-align: left;
    max-width: 800px;
    margin: auto;
}

header{
    display:flex;
    margin-top:20px;
    height: 64px;
    justify-content:flex-end;
    text-align: center;
}

header #title{
    color: black;
    text-decoration:none;
    margin: 0px;
    width:100%;
    font-size:50px;
    font-weight: 600;
}

footer{
    margin-top: 20px;
    text-align:center;
    font-size: 20px;
    margin-bottom: 20px;
}

.hidden{
    visibility: hidden;
}
