html {overflow: -moz-scrollbars-vertical;}

body {
	background: rgb(0, 146, 190);
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
	color: rgb(0, 0, 0);
    text-align: left;
    max-width: 100%;
    margin: auto;
}

header{
    display:flex;
    margin-top:20px;
    height: 40px;
    justify-content: space-between;
    text-align: center;
}

header #title{
    color: black;
    text-decoration:none;
    margin: 0px;
    width:20%;
    font-size:28px;
    font-weight: 600;
}

header #credits{
    color: black;
    text-decoration:none;
    margin: 0px;
    width:20%;
    font-size:25px;
    font-weight: 600;
}

hr{
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

footer{
    margin-top: 20px;
    text-align:center;
    font-size: 25px;
    margin-bottom: 20px;
}

.hidden{
    visibility: hidden;
}

