.pagination{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.navigate{
    width:50px;
    height: 50px;
    padding-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
}

.next_10{
    background-image: url('../media/next.png');
    margin-left: 10px;
}

.next_10:hover{
    cursor: pointer;
}

.prev_10{
    background-image: url('../media/prev.png');
    margin-right: 10px;
}

.prev_10:hover{
    cursor: pointer;
}

.next_10_empty{
    background-image: url('../media/next.png');
    margin-left: 10px;
    opacity: 0.3;
}

.prev_10_empty{
    background-image: url('../media/prev.png');
    margin-right: 10px;
    opacity: 0.3;
}
