html {overflow: -moz-scrollbars-vertical;}

body{
    background: darkgray;
    color: #3C3D3F;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    text-align: left;

}
.wrapper {
    max-width: 800px;
    margin: auto;
    padding-bottom:40px;
}

header{
    display:flex;
    margin-top:36px;
    height: 64px;
    justify-content:flex-end;
}

header #title{
    color: #3C3D3F;
    text-decoration:none;
    margin: 0px;
    width:100%;
    font-size:48px;
}

.header_btn{
    text-decoration:none;
    font-size: 16px;
    margin-left:5px;
    margin-right:5px;
}



footer{
    margin-top: 20px;
    text-align:center;
}

.alert{
    color: red;
}

.form_title{
    display:flex;
}

footer {
    position: fixed;
    left: -8px;
    bottom: -8px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #3C3D3F;
    color: #fff;
    height: 70px;
}
footer a{
    color: white;
}
li{
    font-size: 20px;
}