/* Global Reset */
* {
    font-family: 'Allerta', arial, Tahoma;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #7700aa, #8800ff);
    text-align:center;
    color:#fff;
    margin: 0;
}

header{
    display:flex;
    height: 80px;
    background-color: #7602db;
    justify-content: space-between;
    border-bottom: solid 2px white;
}

header #title{
    background-image: url('../media/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
    width: 100px;
    margin-left: 20px;
}

.header_btn{
    text-decoration:none;
    font-size: 16px;
    margin-left:5px;
    margin-right:5px;
}

footer{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}

.hidden{
    visibility: hidden;
}

ul{
    text-align: left;
}
