.navigator{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav{
    margin-right: 20px;
    padding: 27px 10px 0px 10px;
    height: 80px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav:hover{
    background-color: #5c02ac;
    border-bottom: solid 2px white;
    cursor: pointer;
}