.track-editor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

.controls{
    display: flex;
    flex-grow: 2;
    order: 1;
    width: 100%;
    border-style: solid;
    border-color: black;
    height: 100px;
    flex-direction: row;
}

.track-list{
    display: flex;
    width: 85%;
    order: 2;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
}

.track-list .track{
    border-style: solid;
    border-color: black;
}

.track-settings{
    width: 15%;
    order: 2;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    height: 400px;
    color: #001a33;
}

/* body select.select_box */ 
.track-settings select {
    padding: 10px 70px 10px 13px; 
    width: 100%; 
    height: 50px; 
    border: 1px solid #e3e3e3; 
    border-radius: 3px; 
    background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat; 
    background-color:#333; 
    color: orange; 
    font-size: 12px;
    font-weight: bold;
    line-height: 16px; 
    appearance: none; 
    /* this is must */ -webkit-appearance: none; 
    -moz-appearance: none; 
} 

/* body select.select_box option */ 
.track-settings select option { 
    padding: 0 4px; 
    color: orange;
    background-color:#333;
} 

.master-gain {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    transform: rotate(270deg);
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.master-gain:hover {
    opacity: 1;
}

.master-gain::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.master-gain::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.cbtn{
    display: flex;
    float: right;
    margin: 25px 25px 25px 25px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-play{
    background-image: url('../media/play-button.png');
}

.btn-pause{
    background-image: url('../media/pause.png');
}

.btn-stop{
    background-image: url('../media/stop-button.png');
}

.btn-record{
    background-image: url('../media/microphone.png');
}

.btn-record-live{
    background-image: url('../media/microphone_red.png');
}

.btn-fast-forward{
    background-image: url('../media/end.png');
}

.btn-rewind{
    background-image: url('../media/start.png');
}
  
.btn-select{
    background-image: url('../media/select-button.png');
}
.btn-cursor{
    background-image: url('../media/cursor.png');
}

.btn-trim-audio{
    background-image: url('../media/trim.png');
}

.btn-shift{
    background-image: url('../media/shift.png');
}

.btn-fadein{
    background-image: url('../media/fadein.png');
}

.btn-fadeout{
    background-image: url('../media/fadeout.png');
}

.btn-loop{
    background-image: url('../media/loop.png');
}

.btn-loop-red{
    background-image: url('../media/loop_red.png');
}

.btn-download-ready{
    background-image: url('../media/download.png');
}

.btn-download-notready{
    opacity: 10%;
    background-image: url('../media/download.png');
}

.btn-render{
    background-image: url('../media/rendering.png');
}

.btn-undo{
    background-image: url('../media/undo.png');
    margin-right: 20px;
    margin-left: 100px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-undo:hover {
    cursor: pointer;
}

.btn-zoom-in{
    background-image: url('../media/zoom-in.png');
    margin-right: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-zoom-out{
    background-image: url('../media/zoom-out.png');
    margin-right: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-zoom-in:hover {
    cursor: pointer;
}

.btn-zoom-out:hover {
    cursor: pointer;
}

.automatic-scroll {
    margin-top: 25px;
    margin-bottom: 25px;
}

.timebox{
    color: #001a33;
    font-size: 14px;

}

.timedisplay input, .audio-pos{
    background-color: transparent;
    color: #001a33;
    border: solid 2px #001a33;
    text-align:right;
    font-size: 14px;
    padding: 5px;
    margin-left: 10px;
}



#playlist {
    margin: 2em 0; 
    overflow-y: scroll;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.playlist .playlist-time-scale {
     height: 30px; 
}


.playlist .channel-progress {
     background: #001a33; 
}

.playlist .cursor {
    background: black;
}

.playlist .wp-fade {
    background-color: rgba(0, 0, 0, 0.1);
}

.playlist .state-cursor, .playlist .state-select {
    cursor: text;
}

.playlist .state-fadein {
    cursor: w-resize;
}

.playlist .state-fadeout {
    cursor: e-resize;
}

.playlist .state-shift {
    cursor: ew-resize;
}

.playlist .selection.point {
    background: red;
}

.playlist .selection.segment {
    background: rgba(0, 0, 0, 0.1);
}

.playlist .channel-wrapper.silent .channel {
    opacity: 0.3;
}

.playlist .controls {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.playlist .controls header {
    margin-top:10px;
    color:black;
    flex-direction: column;
    justify-content: flex-start;
}

.playlist .controls label { 
    margin: 1em auto; 
    width: 100%;
    transform: translate(0, 0); 
}

.playlist .controls label:before { 
    content: "\f027"; 
    color: black; 
    font-size: 14px; 
    padding-right: 5px; 
    -moz-osx-font-smoothing: grayscale;
}

.playlist .controls label:after { 
    content: "\f028"; 
    color: black; 
    font-size: 14px; 
    padding-left: 5px; 
}

.playlist .controls input[type=range] { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    display: inline-block; 
    width: 75%; 
}

.playlist .controls input[type=range]::-webkit-slider-runnable-track { 
    height: 8px; 
    background: #ddd; 
    border: none; 
    border-radius: 3px; 
    padding: 1px; 
}

.playlist .controls input[type=range]::-moz-range-track { 
    height: 8px; 
    background: #ddd; 
    border: none; 
    border-radius: 3px; 
    padding: 1px;
 }

.playlist .controls input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    border: none;
    height: 16px; 
    width: 16px;
    border-radius: 50%; 
    background: goldenrod; 
    margin-top: -5px; 
    cursor: ew-resize; 
}

.playlist .controls input[type=range]::-moz-range-thumb {
    border: none; 
    height: 16px; 
    width: 16px; 
    border-radius: 50%; 
    background: goldenrod; 
    margin-top: -5px; 
    cursor: ew-resize; 
}

.playlist .controls input[type=range]:focus { 
    outline: none; 
}

.playlist .controls input[type=range]:focus::-webkit-slider-runnable-track { 
    background: #ccc; 
}

.playlist .controls input[type=range]:focus::-moz-range-track { 
    background: #ccc; 
}



.track-drop {
    border: 2px dashed #001a33; 
    color: #001a33;
    height: 100px; 
    margin: 1em 0;
    width: 80%;
    margin: 0 auto;
}

.track-drop::before { 
    content: "Drop audio file(s) here!"; 
}

.track-drop.drag-enter { 
    border: 2px solid orange; 
}


.playlist .btn{
    border-radius:10px;
    text-align:center;
    font-size: 10px;
    color: #3C3D3F;
    background: thistle;
    border: 2px #3C3D3F solid;
    padding: 5px 10px 5px 10px;
    align-content: flex-start;
    
}

.playlist .btn:hover {
  background: blueviolet;
  color: #ffffff;
}

.controls .btn:hover{
    cursor:pointer;
}

.controls .btn-download-notready:hover {
    cursor: not-allowed;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #001a33;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.track_option{
    color: #001a33;
    font-size: 14px;

}
.track_option_action input{
    background-color: transparent;
    color: #001a33;
    border: solid 2px #001a33;
    text-align:right;
    font-size: 14px;
}

.exec_btn{
    font-size: 14px;
}